{% load staticfiles %}

<html>

        <head>
            <title>mayεuτik</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
	        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{% static 'css/exam.css' %}">
            <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'django_pygments/css/pygments_default.css' %}" />
            <link rel="stylesheet" type="text/css" href="{% static 'django_pygments/css/demo.css' %}" />

            <script src="{% static 'js/jquery.js' %}"></script>
            <script src="{% static 'js/bootstrap.js' %}"></script>
        </head>
        <body>
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
              <!-- El logotipo y el icono que despliega el menú se agrupan
                   para mostrarlos mejor en los dispositivos móviles -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Desplegar navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Mayεuτik</a>
                </div>
              <!-- Agrupar los enlaces de navegación, los formularios y cualquier
                   otro elemento que se pueda ocultar al minimizar la barra -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'exam.views.exercise_list' %}" >Ejercicios</a></li>
                        <li><a href="{% url 'exam.views.exam_list' %}">Exámenes</a></li>
                    </ul>

                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                        <input type="text" class="form-control" placeholder="Buscar">
                        </div>
                        <button type="submit" class="btn btn-default">Enviar</button>
                    </form>

                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <p class="navbar-text"><span class="glyphicon glyphicon-user"></span> {{ user.username }}<small> (<a href="{% url 'django.contrib.auth.views.logout' %}" class="navbar-link"><span class="glyphicon glyphicon-log-out"></span></a>)</small></p>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  <span class="glyphicon glyphicon-th"></span> Panel <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'exam.views.exercise_new' %}"><span class="glyphicon glyphicon-plus"></span> Ejercicio</a></li>
                                    <li><a href="{% url 'exam.views.exam_new' %}"><span class="glyphicon glyphicon-plus"></span> Examen</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'exam.views.exercise_list_by_user' username=user.username %}"><span class="glyphicon glyphicon-list"></span> Mis ejercicios</a></li>
                                    <li><a href="{% url 'exam.views.exam_list_by_user' username=user.username %}"><span class="glyphicon glyphicon-list-alt"></span> Mis exámenes</a></li>
                                    <li><a href="{% url 'exam.views.user_course_list' username=user.username %}"><span class="glyphicon glyphicon-book"></span> Mis cursos</a></li>
                                </ul>
                            </li>

                        {% else %}
                            <li><a href="{% url 'django.contrib.auth.views.login' %}"><span class="glyphicon glyphicon-log-in"></span> Entrar </a></li>
                            <li><a href="{% url 'exam.views.add_new_teacher' %}"><span class="glyphicon glyphicon-plus"></span> Cuenta </a></li>
                        {% endif %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              Ayuda <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Tour</a></li>
                                <li><a href="#">Ayuda</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Acerca de</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
        </body>
</html>
