{% extends 'exam/base.html' %}

{% block content %}
    {% for course in courses %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{ course.title }} ({{course.university.title }})</h3>
            </div>
            <div class="panel-body">
                {{ course.text }}
            </div>
        </div>
    {% empty %}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Sin cursos</h3>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
