{% extends 'exam/base.html' %}
{% load ratings %}
{% load pygmentify %}
{% load staticfiles %}
{% block content %}
    <div class="post">
        <div class="date">
            {% if exam.published_date %}
                    {{ exam.published_date }}
            {% endif %}
        </div>
        <h2>{{ exam.title }} <small>creado por <a href="{% url 'exam.views.exam_list_by_user' username=exam.author.username %}"> {{ exam.author }} </a></small></h2>
        <p><span class="label label-default">{{ exam.course }}</span>  <span class="label label-primary"> {{ exam.course.university.title }}</span></p>
        <p>  Comentarios <span class="badge">0</span> | <a href="{% url 'exam.views.exam_vote' pk=exam.pk %}"><span class="glyphicon glyphicon-thumbs-up"></span></a> Favoritos <span class="badge">{{ exam.votes.count }}</span></p>

        <hr>
        {% for exercise in exam.exercises.all %}
            <div class="comment">
                <div class="date">{{ exercise.created_date }}</div>
                <h3>{{forloop.counter}}- {{ exercise.title }} <small>creado por {{ exercise.author }}</small></h3>
                <p>{{ exercise.text|pygmentify|linebreaks }}

                <div id="star-size-18">
                    <a href="{% url 'exam.views.exercise_detail' pk=exercise.pk %}">
                        Respuestas <span class="badge">{{ exercise.approved_answers.count }}</span>
                    </a>
                    | <a href="{% url 'exam.views.exercise_vote' pk=exercise.pk %}"><span class="glyphicon glyphicon-thumbs-up"></span></a>
                    Favoritos <span class="badge">{{ exercise.votes.count }}</span>
                    | Dificultad
                    <style>
                        .star-ratings-rating-stars-container {
                            top:6px;
                        }
                        #star-size-18 .star-ratings-rating-full, #star-size-18 .star-ratings-rating-empty {
                            background-size: auto 18px;
                        }

                    </style>
                    {% ratings exercise 18 18%}
                </div>

            </div>
        {% empty %}
            <p>Sin ejercicios aún :(</p>
        {% endfor %}
    </div>
{% endblock %}
