{% extends 'exam/base.html' %}

{% block content %}
    {% for exam in exams %}
        <div class="post">
            <div class="date">
                <p>{{ exam.published_date }}</p>
            </div>
            <h2><a href="{% url 'exam.views.exam_detail' pk=exam.pk %}">{{ exam.title }}</a> <small>creado por <a href="{% url 'exam.views.exam_list_by_user' username=exam.author.username %}"> {{ exam.author }} </a></small></h2>
            <p><span class="label label-default">{{ exam.course }}</span>  <span class="label label-primary"> {{ exam.course.university.title }}</span></p>
            Comentarios <span class="badge">0</span>
            | <span class="glyphicon glyphicon-thumbs-up"></span> Favoritos <span class="badge">{{ exam.votes.count }}</span>
            | Dificultad promedio <span class="badge">calcular!</span>
            <hr>
        </div>
    {% endfor %}
{% endblock content %}
