{% extends 'exam/base.html' %}

{% block content %}
    {% for exercise in exercises %}
        <div class="post">
            <p class="date">created by {{ exercise.author }} at {{ exercise.created_date|date:'d-m-Y' }}</p>
            <h1><a href="{% url 'exam.views.exercise_detail' pk=exercise.pk %}">{{ exercise.title }}</a></h1>
            <p>{{ post.text|truncatechars:200 }}</p>
        </div>
    {% endfor %}
{% endblock %}
