{% extends 'exam/base.html' %}

{% block content %}
        <h1>Crear ejercicio</h1>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Guardar</button>
        </form>
{% endblock %}
