{% extends 'exam/base.html' %}
{% load ratings %}
{% load pygmentify %}
{% load staticfiles %}
{% block content %}
    <div class="post">
            <div class="date">
                publicado por <a href="{% url 'exam.views.exercise_list_by_user' username=exercise.author.username %}">{{ exercise.author }}</a>
                {% if exercise.published_date %}
                        el {{ exercise.published_date }}
                {% else %}
                <a class="btn btn-default" href="{% url 'exam.views.exercise_publish' pk=exercise.pk %}">Publicar</a>
                {% endif %}
                {% if user.is_authenticated %}
                    {% if exercise.author == request.user %}
                        <a class="btn btn-default" href="{% url 'exercise_edit' pk=exercise.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    {% endif %}
                {% endif %}
            </div>
            <h1>{{ exercise.title }}</h1>
            {% for tag in exercise.tags.all %}
                <a href="{% url 'exam.views.exercise_tagged_list' tag_name=tag %}"><span class="label label-default">{{ tag }}</span></a>
            {% endfor %}

            <p>{{ exercise.text|pygmentify|linebreaks }}</p>

            <div id="star-size-18">
                <a href="{% url 'exam.views.exercise_detail' pk=exercise.pk %}">Respuestas <span class="badge">{{ exercise.approved_answers.count }}</span></a>
                | <a href="{% url 'exam.views.exercise_vote' pk=exercise.pk %}"><span class="glyphicon glyphicon-thumbs-up"></span></a>
                Favoritos <span class="badge">{{ exercise.votes.count }}</span>
                | Dificultad
                <style>
                    .star-ratings-rating-stars-container {
                        top:6px;
                    }
                    #star-size-18 .star-ratings-rating-full, #star-size-18 .star-ratings-rating-empty {
                        background-size: auto 18px;
                    }

                </style>
                {% ratings exercise 18 18%}
            </div>

        <hr>
        <a class="btn btn-default" href="{% url 'add_answer_to_exercise' pk=exercise.pk %}">Add answer</a>
        {% for answer in exercise.answers.all %}
            {% if answer.approved %}
            <div class="comment">
                <div class="date">
                    {{ answer.created_date }}
                    {% if user.is_authenticated %}
                        {% if exercise.author == request.user %}
                            <a class="btn btn-default" href="{% url 'answer_remove' pk=answer.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                            <a class="btn btn-default" href="{% url 'answer_approve' pk=answer.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                        {% endif %}
                    {% endif %}
                </div>
                <strong>{{ answer.author }}</strong>
                <p>{{ answer.text|pygmentify|linebreaks }}</p>
                <a href="{% url 'answer_vote' pk=answer.pk %}"><span class="glyphicon glyphicon-thumbs-up"></span></a> Likes <span class="badge">{{ answer.votes.count }}</span> |
            </div>
            {% else %}
                {% if user.is_authenticated %}
                    {% if exercise.author == request.user %}
                        <div class="comment">
                            <div class="date">
                                {{ answer.created_date }}
                                <a class="btn btn-default" href="{% url 'answer_remove' pk=answer.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                                <a class="btn btn-default" href="{% url 'answer_approve' pk=answer.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                            </div>
                            <strong>{{ answer.author }}</strong>
                            <p>{{ answer.text|pygmentify|linebreaks }}</p>
                            <a href="{% url 'answer_vote' pk=answer.pk %}"><span class="glyphicon glyphicon-chevron-up"></span></a> Votes <span class="badge">{{ answer.votes.count }}</span> |
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% empty %}
            <p>No answers here yet :(</p>
        {% endfor %}
    </div>
{% endblock %}
