{% extends 'exam/base.html' %}
{% load ratings %}
{% load pygmentify %}
{% load staticfiles %}

{% block content %}


<ul class="nav nav-tabs">
  <li class="active"><a href="#">Últimos</a></li>
  <li><a href="#">Top</a></li>
  <li><a href="#">Favoritos</a></li>
  <li><a href="{% url 'exam.views.exercise_difficulty_list' %}">Dificultad</a></li>
</ul>


    {% for exercise in exercises %}
        <div class="post">
            <div class="date">
                <p>publicado por <a href="{% url 'exam.views.exercise_list_by_user' username=exercise.author.username %}">{{ exercise.author }}</a> el {{ exercise.published_date }}</p>
            </div>
            <h1><a href="{% url 'exam.views.exercise_detail' pk=exercise.pk %}">{{ exercise.title }}</a></h1>

            {% for tag in exercise.tags.all %}
                <a href="{% url 'exam.views.exercise_tagged_list' tag_name=tag %}"><span class="label label-default">{{ tag }}</span></a>
            {% endfor %}
            <p>{{ exercise.text|pygmentify|linebreaks }}</p>
            <div id="star-size-18">
                <a href="{% url 'exam.views.exercise_detail' pk=exercise.pk %}">Respuestas <span class="badge">{{ exercise.approved_answers.count }}</span></a>
                | <a href="{% url 'exam.views.exercise_vote' pk=exercise.pk %}"><span class="glyphicon glyphicon-thumbs-up"></span></a> Favoritos <span class="badge">{{ exercise.votes.count }}</span>
                | Dificultad
                <style>
                    .star-ratings-rating-stars-container {
                        top:6px;
                    }
                    #star-size-18 .star-ratings-rating-full, #star-size-18 .star-ratings-rating-empty {
                        background-size: auto 18px;
                    }

                </style>
                {% ratings exercise 18 18%}
            </div>
            <hr>
        </div>
    {% endfor %}
{% endblock content %}
