{% extends "exam/base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}" role="form">
    {% csrf_token %}
    <div class="form-group">
        <label for="ejemplo_email_1">Usuario</label>
        <input type="text" class="form-control" placeholder="Ingrese su nombre de usuario" id="id_username" name="username">
    </div>
    <div class="form-group">
        <label for="ejemplo_password_1">Contraseña</label>
        <input type="password" class="form-control" id="id_password" name="password" placeholder="Ingrese su contraseña">
    </div>
    <button type="submit" class="btn btn-default" value="login">Enviar</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
<a href="{% url 'exam.views.add_new_teacher' %}">Crear cuenta</a>

{% endblock %}
