{% extends 'exam/base.html' %}

{% block content %}
    <h1>Crear cuenta</h1>
    <form method="POST" class="post-form" role="form">{% csrf_token %}
        <div class="form-group">
            <label for="ejemplo_email_1">Usuario</label>
            <input id="id_username" maxlength="30" name="username" type="text" class="form-control" placeholder="Ingrese su nombre de usuario">
            <span class="helptext">Requerido. Hasta 30 caracteres. Letras, digitos y @/./+/-/_ únicamente.</span>
        </div>
        <div class="form-group">
            <label for="ejemplo_password_1">Contraseña</label>
            <input id="id_password" maxlength="128" name="password" type="password" class="form-control" placeholder="Ingrese su contraseña">
        </div>
        <div class="form-group">
            <label for="ejemplo_password_1">Email</label>
            <input id="id_email" maxlength="254" name="email" type="email" class="form-control" placeholder="Ingrese su email">
        </div>
        <div class="form-group">
            <label for="ejemplo_password_1">Nombre</label>
            <input id="id_first_name" maxlength="30" name="first_name" type="text" class="form-control" placeholder="Ingrese su nombre">
        </div>
        <div class="form-group">
            <label for="ejemplo_password_1">Apellido</label>
            <input id="id_last_name" maxlength="30" name="last_name" type="text"  class="form-control" placeholder="Ingrese su apellido">
        </div>
        <button type="submit"  class="btn btn-default">Crear cuenta</button>
    </form>
{% endblock %}
